# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/
.env

# Docker
Dockerfile
.dockerignore

# Git
.git
.gitignore

# IDEs
.vscode/
.idea/

# Testing
tests/
.pytest_cache/

# Misc
README.md
